




main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Ubuntu;
    color: #222;
}


h1 {
    font-size: 65px;
    font-weight: 300;
}

p {
    opacity: .9;
}